extends layout

block content
    <main>
        <div class="fh-inside">
            <div class="welcome">
                <div class="text-center mb-xl">
                    <div class="text-lg mb-lg">403</div>
                    <p class="lead m0">Forbidden</p>
                    <p>You don't have access to this page.</p>
                </div>
            </div>
        </div>
    </main>
