extends layout

block content
    <ol class="breadcrumb">
        <li>Main Navigation</li>
        <li>Settings</li>
        <li>Role List</li>
    </ol>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-wknd">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="datatable_content" class="table table-striped table-hover datatable_act">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade formModal" id="formModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" data-title="Role"></h4>
                </div>
                <form id="form_role_list" action="" redir-url="/index.html?view=settings-role_list" class="ajax" done="afterSubmit(response)">
                    <input type="hidden" id="role_id" name="role_id" >
                    <input type="hidden" id="wknd_csrf" name="#{csrf_token_name}" value="#{csrf_token}" />
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name" class="control-label">Name</label>
                            <input type="text" name="name" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="role" class="control-label">Status</label>
                            <div>
                                <select name="status" type="text" class="form-control" id="status" style="width:100%">
                                    <option value="Published">Published</option>
                                    <option value="Unpublished">Unpublished</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-wknd" id="fsubmit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="#{myConfig.asset_url}/assets/js/views/role_list.js?v=#{myConfig.asset_version}"></script>
